{% extends 'CyberRATWeb/base.html' %}

{% block content %}
    <div class="header">
        <h1>CyberRAT</h1>
    </div>
    <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-body">
                    <form method="POST">
                        {%  csrf_token %}
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Name</label>
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-2">
                                <div style="margin-left:2.5em" class="input-group">
                                    <label class="label">Email</label>
                                    {{ form.email }}
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">FaceBook Link</label>
                                    {{ form.facebook_link }}
                                </div>
                            </div>
                            <div class="col-2">
                                <div style="margin-left:2.5em" class="input-group">
                                    <label class="label">Instagram Link</label>
                                    {{ form.instagram_link }}
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <button style="margin-left: 50%" class="btn-submit m-b-0" type="submit">search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> <!-- This templates was made by Colorlib (https://colorlib.com) -->

{% endblock %}
